/* -------------------------------------------------------------------------- */
/*                                  RESET CSS                                 */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

ol, ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */
img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-hidden {
  display: none;
}

.modal-active {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80svh;
  z-index: 100;
  transform: translate(-50%, -50%);
}

/* ---------------------------- LOADING ANIMATION --------------------------- */
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #373737;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.loader .dot {
  background-color: #1e1e1e;
  border-radius: 100vh;
  width: 1em;
  height: 1em;
  animation: loader 1s linear infinite;
  box-shadow: 3px 5px 6px rgba(30, 30, 30, 0.6);
  transform: translateY(50%) scale(1);
}
.loader .dot:nth-child(2) {
  animation-delay: 200ms;
}
.loader .dot:nth-child(3) {
  animation-delay: 400ms;
}
.loader .dot:nth-child(4) {
  animation-delay: 600ms;
}
.loader .loaded {
  background-color: green;
}

/* --------------------------------- THREEJS -------------------------------- */
.render-container {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.render-container canvas {
  width: 100%;
  height: 100%;
}

.theme {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  z-index: 5;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.theme #night-switch {
  position: relative;
  width: 2.2em;
  height: 1.2em;
  border-radius: 2em;
  background-color: aqua;
}
.theme #night-switch::after {
  content: "";
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  background-color: rgb(25, 50, 160);
  border-radius: 2em;
  width: 0.8em;
  height: 0.8em;
  transition: transform 200ms ease-in-out;
}

.theme.night #night-switch::after {
  transform: translate(1em);
}

/* -------------------------------- CAROUSSEL -------------------------------- */
.caroussel {
  margin: 0 auto;
  position: relative;
  aspect-ratio: 16/10;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e;
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.6);
}

.images > * {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.images .hidden {
  animation: hide-img 500ms forwards;
}
.images .active {
  animation: display-img 500ms forwards;
}

/* NAVIGATION */
.nav, .auto > button {
  position: absolute;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  background-color: #1e1e1e;
  border-radius: 50%;
  transition: transform 200ms;
}

/* play/pause */
.auto > button {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.auto > button:hover {
  cursor: pointer;
  transform: translateX(-50%) scale(1.05);
}

.auto.play > #pause {
  display: flex;
}

.auto.pause > #play {
  display: flex;
}

/* prev/next */
.nav {
  top: 50%;
  transform: translatey(-50%);
}
.nav:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1.05);
}

#prev {
  left: 0.5em;
}

#next {
  right: 0.5em;
}

/* -------------------------------------------------------------------------- */
/*                                  ANIMATION                                 */
/* -------------------------------------------------------------------------- */
@keyframes loader {
  0% {
    transform: translateY(50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.5);
  }
  100% {
    transform: translateY(50%) scale(1);
  }
}
/* IMAGES ANNIMATION */
@keyframes hide-img {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes display-img {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}/*# sourceMappingURL=style.css.map */