@use "sass:color"; // for color function (fade-out)
@font-face { /* title */
    font-family: "Digital geometric";
    src: url("../assets/fonts/digital-geometric.otf");
}
@font-face { /* text */
    font-family: "Varela Round";
    src: url("../assets/fonts/VarelaRound-Regular.ttf");
}

:root { /* color variable are rgb values -- like that so I can play with opacity */
    --green: 176, 215, 181;
    --beige: 223, 219, 212;
    --text: 30, 30, 30;
    --white: 232, 231, 225
}

$radius: 0.5em;
$medium-text-size: 1.5rem;
$caroussel-white: #efefef;
$caroussel-black: #1e1e1e;

/* -------------------------------------------------------------------------- */
/*                                  RESET CSS                                 */
/* -------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    line-height: 1;
    appearance: none;
}

ol, ul {
    list-style: none;
}

textarea {
    resize: none;
}

a {
    color: unset;
    text-decoration: none;
}

button {
    background: unset;
    border: none;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */
html {
    background-color: rgb(var(--white)); /* on iphone withe notch, landscape view dosen't take the whole width to avoid cropping important content, so to make it a bit more natural, apply the same color as ground to html so the white space are less visible */
}
body {
    font-family: "Varela Round";
    color: rgb(var(--text));
}

.h1 {
    font-family: "Digital geometric";
    font-size: 3rem;
    &.smaller {
        font-size: 2rem;
    }
}
.h2 {
    font-size: 2rem;
}
.h3 {
    font-size: 1.5rem;
}

.modal { // display none created a weird glitch for caroussel oppening so hide it without display none
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--beige), 0.5);
    backdrop-filter: blur(5px);
}

.modal-active {
    z-index: 10;
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    .close-modal {
        position: fixed;
        top: 0.5em;
        left: 0.5em;
        font-size: 1.5rem;
    }
}

.hidden { /* for all element that need to be present in dom but invisible for accessibility */
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.popup {
    position: fixed;
    z-index: 10;
    top: -10vh;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    background-color: rgb(var(--beige));
    font-size: $medium-text-size;
    border-radius: $radius;
    box-shadow: 2px 2px 3px fade-out($caroussel-black, 0.5);
    transition: 200ms top ease-out 200ms opacity ease-out;
    user-select: none;
    &.active {
        top: 10vh;
        opacity: 1;
    }
    &.fail {
        border: solid 2px red;
    }
    &.success {
        border: solid 2px green;
    }
}

.btn {
    padding: 0.7em 2em;
    font-size: $medium-text-size;
    font-size: min(6vw, $medium-text-size);
    background-color: rgba(var(--text), 0.1);
    border: 1px solid rgba(var(--text), 0.5);
    color: rgb(var(--text));
    border-radius: $radius;
    transition: 500ms;
    &:hover {
        background-color: rgba(var(--text), 0.5);
        border: 1px solid rgba(var(--text));
        color: rgb(var(--beige));
        letter-spacing: 0.002em;
        transform: scale(1.05);
    }
}

/* ---------------------------- LOADING ANIMATION --------------------------- */
.loader {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(var(--beige));
    .dot {
        width: 1em;
        height: 1em;
        background-color: rgb(var(--text));
        border-radius: 100vh; /* make round */
        transform: translateY(50%) scale(1);
        box-shadow: 3px 5px 6px rgba(var(--text), 0.5);
        animation: loader 1s linear infinite;
        @for $i from 1 through 3 {
            &:nth-child(#{$i+1}) {
                animation-delay: $i*200ms;
            }
        }
    }
    .loaded {
        background-color: rgb(var(--green));
    }
}

/* -------------------------------- MAIN VIEW ------------------------------- */
.render-container canvas {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: 100dvh;
}

.theme {
    position: fixed;
    z-index: 2;
    right: 0.5em;
    top: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-size: 1.2rem;
    #night-switch {
        position: relative;
        width: 2.2em;
        height: 1.2em;
        background-color: rgb(var(--green));
        border-radius: 2em; /* to be round */
        &::after {
            content: "";
            position: absolute;
            top: 0.2em;
            left: 0.2em;
            width: 0.8em;
            height: 0.8em;
            background-color: rgb(var(--text));
            border-radius: 2em;
            transition: transform 200ms ease-in-out;
        }
    }
    &.night #night-switch::after {
        transform: translate(1em);
    }
}

footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hint {
    font-size: $medium-text-size;
    button {
        width: 1.4em;
        height: 1.4em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(var(--text));
        background-color: rgb(var(--beige));
        user-select: none;
        border-radius: 50%;
        box-shadow: 2px 2px 3px rgba(30, 30, 30, 0.5);
    }
}

.socials {
    display: flex;
    gap: 0.5em;
    color: rgb(var(--text));
    font-size: $medium-text-size;
    & > * {
        transition: transform 200ms ease-in-out;
        &:hover {
            transform: scale(1.15);
        }
    }
}

.cc {
    font-size: min(4vw, 1rem);
    color: rgb(var(--text));
    display: flex;
    p {
        user-select: none;
    }
}

.fade-out { /* for mobile color on the side to show movement possibilities */
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100vh;
    height: 100dvh;
    width: 10vw;
    &.left {
        left: 0;
        background: linear-gradient(90deg, rgba(var(--beige), 0.8) 0%, rgba(var(--beige), 0) 100%);
    }
    &.right {
        right: 0;
        background: linear-gradient(-90deg, rgba(var(--beige), 0.8) 0%, rgba(var(--beige), 0) 100%);
    }
}

/* ------------------------------ MOBILE ALERT ------------------------------ */
.mobile-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 750px;
    height: 100vh;
    height: 100dvh;
    max-height: 32rem;
    text-align: center;
    padding: 0 1em;
    strong {
        text-decoration: underline;
    }
}

/* --------------------------------- CONTACT -------------------------------- */
#contact .h1 {
    text-align: center;
}

#contact-form {
    overflow: auto;
    width: 35rem;
    max-width: 95vw;
    max-height: 80vh;
    margin: 3vh;
    padding: 1em;
    display: grid;
    grid-template-rows: repeat(3, minmax(3.8em, 1fr)) minmax(5rem, 3fr) minmax(1.8em, 0.6fr);
    // grid-template-rows: 1fr 1fr 1fr minmax(6rem, 3fr) 0.6fr;
    gap: 1.5vh;
    color: rgb(var(--text));
    background-color: rgb(var(--beige));
    border: 1px solid rgba(var(--text), 0.5);
    border-radius: $radius;
    * {
        display: block;
        width: 100%;
        &::placeholder { color: rgba(var(--text), 0.5) }
    }
    & > * {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .success {
        border: solid 2px green;
    }
    .fail {
        border: solid 2px red;
        &::placeholder {
            color: darkred;
        }
    }
    label {
        font-weight: 500;
        margin-bottom: 0.3em;
    }
    input, button, textarea {
        padding: 0.5em 1em;
        background-color: rgb(var(--beige));
        border: 1px solid rgb(var(--text));
        border-radius: $radius;
    }
}


/* -------------------------------- CAROUSSEL -------------------------------- */
.projects-content {
    width: 90%;
    max-width: 1000px;
    max-height: 100vh;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.caroussel {
    position: relative;
    width: 100%;
    max-height: 80dvh;
    margin: 4rem 0 7rem;
    aspect-ratio: 16 / 10;
    display: flex;
    border-radius: $radius;
}

.caroussel-content {
    color: rgb(var(--text));
    & > div > * {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .bg {
        overflow: hidden;
        border-radius: $radius;
        > * {
            width: 100%;
            transition: transform 500ms ease-in-out;
        }
    }
    .text {
        height: calc(100% + 10rem);
        margin-top: -4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        & > * { max-height: 3em; }
    }
    .subtitle {
        font-size: 3rem;
        font-size: min(8vw, 3rem);
    }
    & > .hidden-slide { animation: hide-slide 500ms forwards }
    & > .active { animation: display-slide 500ms forwards }
}

/* NAVIGATION */
.controls {
    color: white;
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 1em;

    font-size: $medium-text-size;
    button {
        text-shadow: 3px 3px 4px fade-out($caroussel-black, 0.4);
        transition: 500ms;
        &:hover {
            transform: scale(1.1);
        }
    }

}
.auto > * { display: none; }
.auto[data-state=play] > #pause { display: flex; }
.auto[data-state=pause] > #play { display: flex; }

.caroussel:has(.active .black) { /* has not well supported but not so important styling so not that big deal */
    .progress {
        .dot {
            border: 0.15em solid $caroussel-black;
        }
        .active {
            background-color: $caroussel-black;
        }
    }
    .controls {
        color: $caroussel-black;
        button {
            text-shadow: 1px 1px 4px fade-out($caroussel-white, 0.6);
        }
    }
}

.progress {
    position: absolute;
    bottom: 0.2em;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 1em;
    .dot {
        font-size: 0.8rem;
        cursor: pointer;
        border-radius: 100vh;
        width: 1em;
        height: 1em;
        border: 0.15em solid $caroussel-white;
    }
    .active {
        background-color: $caroussel-white;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   DESKTOP                                  */
/* -------------------------------------------------------------------------- */
@media screen and (min-aspect-ratio: 1) { /* since the caroussel has fix aspect ration with video, displaying should be depending on aspect ratio */
    .fade-out { display: none }
    #card-projects { grid-template-rows: 1fr 3.5fr }

    .caroussel {
        margin: 0;
        &:hover:not([auto-hover]) .caroussel-content {
            video, img {
                transform: scale(1.2);
                filter: blur(7px);
            }
            .text {
                opacity: 1;
            }
        }
        &[auto-hover] .caroussel-content {
            video, img { filter: blur(5px); }
            .text {
                opacity: 1;
            }
        }
    }

    .caroussel-content {
        .text {
            height: 100%;
            margin-top: 0;
            padding-bottom: 2em;
            justify-content: center;
            gap: 10vh;
            color: $caroussel-white;
            background-color: fade-out($caroussel-black, 0.6);
            border-radius: $radius;
            filter: drop-shadow(5px 5px 5px $caroussel-black);
            &.black-txt {
                background-color: fade-out($caroussel-white, 0.6);
                filter: drop-shadow(5px 5px 5px fade-out($caroussel-white, 0.4));
            }
            opacity: 0;
            transition: opacity 500ms ease-in-out;
        }

        .btn {
            color: $caroussel-white;
            background-color: fade-out($caroussel-white, 0.8);
            border: 1px solid fade-out($caroussel-white, 0.6);
            &.black {
                background-color: fade-out($caroussel-black, 0.5);
                border-color: fade-out($caroussel-black, 0.3);
            }
            &:hover {
                color: $caroussel-black;
                background-color: fade-out($caroussel-white, 0.5);
                border: 1px solid $caroussel-black;
            }
        }
    }
    .subtitle.black {
        color: $caroussel-black;
    }
}

/* -------------------------------------------------------------------------- */
/*                                  ANIMATION                                 */
/* -------------------------------------------------------------------------- */
@keyframes loader {
    0% {
        transform: translateY(50%) scale(1);
    }
    50% {
        transform: translateY(-50%) scale(1.5);
    }
    100% {
        transform: translateY(50%) scale(1);
    }
}

/* CAROUSSEL ANNIMATION */
@keyframes hide-slide {
    0% {
        opacity: 1;
        display: block;
    }
    99% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        display: none;
    }
}

@keyframes display-slide {
    0% {
        opacity: 0;
        display: none;
    }
    1% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
    }
}